@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style-type: none;
}

.title {
    font-size: 76px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.career {
    color: #BB0000 !important;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

section {
    background-color: rgb(245,245,245);
    transition: all 300ms ease;
}

.container {
    padding: 50px 0;
    width: 100%;
}


.row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 12px;
}
.click {
    cursor: pointer;
   transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}
.link__hover-effect {
    position: relative;
}

.link__hover-effect:after
{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    right: 0;
    width: 0%;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect--black:after {
    background-color: #242424;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
    color: black;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 1px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    margin-top: 10px;
}

label {
    font-size: 14px;
    font-weight: bold;
    height: 15px;
}

input:hover, textarea:hover {
   border-color: #dcdfe6; 
}

input:focus, textarea:focus {
    border-color:#BB0000 ;
}

nav, 
.scroll, 
.header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms;
}

.modal--open nav, 
.modal--open .scroll, 
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-circle-half-stroke,
.dark-theme .header__para
 {
   color: white;
}

.dark-theme section {
    background-color: #242424;
}
.dark-theme .scroll__icon {
    border-color: white;
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
    background-color: white;
}


.dark-theme .mail__btn {
    background-color: white;
    color: #242424;
}



/* LANDING PAGE */

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 700px;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    background-color: #BB0000;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 32px;
    right: 40px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll{
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

.fa-envelope-open-text {
    transition: all 300ms ease;
}

/* NAVIGATION */

#personal-logo {
    width: 50px;
    height: 60px;
    filter: invert(.25);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 8px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-solid {
    font-size: 18px;
}

/* Modal */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    transition: visibility 1s, z-index 1s, box-shadow .5s, ease;
}


.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, .55);
    visibility: visible;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal__about {
    background-color: rgb(245,245,245);
    transform: translateX(-110%);
    
}

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(.8);
    transition: all 300ms ease;
}


.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language--img {
    width: 80%;
}

.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 16px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #BB0000;
    border: 2px solid #BB0000;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}

.form__submit:active {
    border-color: #BB0000;
    color: #BB0000;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
    
}
.modal__overlay--loading {
    background-color: black;
    font-size: 80px;
    z-index: -1;
}

.modal__overlay--success {
   background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.fa-spinner {
    animation: spinner 1000ms infinite;
}

@keyframes spinner {
   0% {
    transform: rotate(0);
   } 
   100% {
    transform: rotate(360deg);
   }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    z-index: 100;
}

/* PROJECTS */

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project__img {
    width: 100%;
    max-height: 100%;
    transition: all 300ms ease;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, .75);
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.10);
    filter: blur(5px);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    min-width: 550px;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: .7;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0.3;
    
}

.project__description--title {
    font-size: 40px;
}

.project__description--sub-title {
    margin-top: 6px;
}

.project__description--para {
    margin: 10px 0;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

/* FOOTER */

footer {
    position: relative;
    background-color: #242424;
    display: flex;
    padding: 6% 0;
}

.footer__row {
    display: flex;
   flex-direction: column; 
   align-items: center;
}

.footer__logo--img {
    width: 50px;
    height: 50px;
    filter: invert(0.01);
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.footer__social--link,
.footer__copyright {
    font-size: 14px;
    color: white;
}

/* Small phones, Tablets, Large Smart Phones */
@media (max-width: 768px) {
    .title {
        font-size: 80px;
    }
    .header__para {
        font-size: 20px;
    }
    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
    }

    .modal__half {
        width: 100%;
    }
}

/* Small Phones */

@media (max-width: 480px) {
    .title {
        font-size: 52px;
    }

    .header__para {
        font-size: 16px;
    }

    .project__description--para {
        display: none;
    }

    .project__description {
        left: 0;
        padding: 0;
        width: 100%;
        
    }

    .project__description--sub-title {
        margin-bottom: 8px;
    }

    .modal__half {
        padding: 24px;
    }
}