@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




li {
    list-style-type: none;
}

/* LANDING PAGE */






/* NAVIGATION */

#personal-logo {
    width: 50px;
    height: 60px;
    filter: invert(1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 8px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-solid {
    font-size: 18px;
}